.middle-container {
	padding: 2% 0;
}

.book-cover {
	width: 120px;
	height: 162px;
}
.row {
	margin: 0;
}

.book {
	margin: 5% 0;
	text-align: center;
	display: flex;
	background-color:lightcyan;
	border-radius: .5rem;
	
}

.inner-book {
	margin: 0 5%;
	padding: 10% 0;
	flex: 4;
}

.book-detail {
	flex: 6;
}

.card{
	background: none;
	border: none;
}

.links {
	background-color: #000;
	
}
.downlaod {
	margin: 1rem auto 0;
}
