.middle-container {
	padding: 2% 0;
	width: 90%;
}

.book-cover {
	width: 120px;
	height: 162px;
}
.row {
	margin: 0;
}

.book {
	margin: 2rem 0;
	text-align: center;
	border-radius: .5rem;
	
}

.book-container {
	display: flex;
	margin: 0 1rem;
	padding: 1rem 0;
	border-radius: 1rem;
	/* background-color: rgba(255, 255, 255, 0.562); */
	background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(1rem);
}

.inner-book {
	margin: 0 5%;
	/* padding: 5% 0; */
	flex: 3;
}

.book-detail {
	flex: 7;
	text-align: left;
	position: relative;
	color: rgb(43, 43, 43);
	font-family: 'Open Sans';
	font-weight: 300;
	padding-right: 1rem;
}

.card{
	background: none;
	border: none;
}

.downlaod {
	margin: 1rem auto 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	/* border: 3px solid rgb(43, 43, 43); */
	background-color: rgb(71, 71, 71);
}
