/*                                              NAVBAR */
.navbar-custom {
  background:rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2rem);
  box-shadow: 0px 2px 20px -5px rgba(31, 38, 135, 0.37);
}
.navbar-toggler {
  color: #fff;
  border: 1px solid #fff;
}

.navbar-brand {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.8rem;
  max-width: 20%;
  color: #fff;
  transition: 50ms;
  margin-left: 1rem;
}
.navbar-brand:hover {
  transform: scale(1.1);
  color: #fff;
}
.navbar-text {
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 0 1rem;
  border-radius: 8px;
}
.navbar-text:hover {
  color: #343a40;
  background-color: #fff;
}
.nav-items {
  margin: 0 0 0 auto;
}
.hamburger-btn:hover {
  color: #343a40;
  background-color: #fff;
}
.search {
  margin-left: 5%;
}
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
input[type=search]:focus {
  width: 200px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/*                                              GLASS */

.glass {
  background:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: -5px 5px 20px -5px rgba(31, 38, 135, 0.37);
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  border-right: 2px solid rgba(255, 255, 255, 0.6);
}
.glass-head {
  color: #343a40;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 10px 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
  font-family: 'Montserrat';
  font-weight: 700;
}
/*                                            LINKS & BUTTON */
.links {
  width: 90%;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-left: 2%;
  border-radius: 0.5rem;
  transition: 50ms;
  font-family: 'Open Sans';
  font-weight: 300;
}
.links:hover {
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  color: #343a40;
  transform: scale(1.05,1.1);
  font-weight: 400;
}

.btn {
  width: 90%;
  border: 0;
  text-align: left;
  margin: 0.3rem 1rem;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  color: #fff;
  border-radius: 0.5rem;
  font-family: 'Open Sans';
  font-weight: 300;
}
.btn:hover {
  background: rgba(255, 255, 255, 1);
  color: #343a40;
}


.hidden {
  display: none;
}
.background {
  background-image: linear-gradient(10deg, #2999AD 0%, #00B5CC 35%, #207398 20%);
  /* background-image: linear-gradient(10deg, #538FFB   0% ,   #00B5CC  45%); */
  background-attachment: fixed;
}